--extra-index-url https://download.pytorch.org/whl/cu117
# nataili>=0.2.9019
git+https://github.com/db0/nataili.git@tome
xformers
gradio
pyyaml
unidecode
regex
rembg
pynvml
psutil
windows-curses; sys_platform == 'win32'
