--extra-index-url https://download.pytorch.org/whl/cu118
torch # We have to place it here otherwise it installs the CPU version
hordelib>=1.3.4
gradio
pyyaml
unidecode
regex
rembg
pynvml
psutil
windows-curses; sys_platform == 'win32'
loguru
GitPython
clip-anytorch
diffusers
omegaconf
setuptools
